[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "*"}
openai = "*"
pydantic = "*"
wandb = "*"

[dev-packages]

[requires]
python_version = "3.11"
