body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 10px;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  background-color: #f9f9f9;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #006699;
  padding: 0 20px;
}

.navbar a {
  color: #f2f2f2;
  text-decoration: none;
  padding: 14px 16px;
  font-size: 17px;
}

.navbar h1 {
  /* color: #006699; */
  pointer-events: none;
  font-size: 20px;
  margin-bottom: 10px;
  color: #f2f2f2;
  padding: 0;
}

.nav-links {
  display: flex;
}

.nav-links a {
  text-align: center;
}

.nav-links a:not(:last-child) {
  margin-right: 10px;
}

.nav-links a:hover,
.navbar h1:hover {
  background-color: #ddd;
  color: black;
}

.intro {
  font-size: 14px;
  line-height: 1.4;
  margin-bottom: 10px;
  padding: 10px;
}

form {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

label {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 5px;
  display: block;
}

input[type="text"],
input[type="password"],
input[type="file"],
textarea,
input[type="button"] {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
}

button#generate {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

small {
  font-size: 12px;
  color: #666;
}

.clickable {
  text-decoration: underline;
  color: #007bff;
  cursor: pointer;
  margin-top: 15px;
  margin-bottom: 15px;
}

#advanced {
  display: none;
}

#advanced.open {
  display: block;
}

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  max-width: 500px;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hidden {
  display: none;
}
