name: "Chromatic"

# Docs recommend on push: https://www.chromatic.com/docs/github-actions/#recommended-configuration-for-build-events
on: push
permissions:
  contents: read
  pull-requests: write
  statuses: write
jobs:
  chromatic:
    name: Run Chromatic
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "24"
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build common
        run: pnpm --filter=tttc-common run build

      - name: Run Chromatic
        uses: chromaui/action@latest
        with:
          projectToken: ${{ secrets.CHROMATIC_PROJECT_TOKEN }}
          autoAcceptChanges: "main" # keeps main clean https://www.chromatic.com/docs/github-actions/#github-squashrebase-merge-and-the-main-branch
          skip: "dependabot/**" # skip dependabot branches
          workingDir: "./next-client"
