name: Deploy Next Client to Cloud Run - Production

on:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  pre-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: log execution mode
        run: |
          if [ "${{ github.event.act }}" = "true" ]; then
              echo "::notice:: Running locally with act - next client prod deploy skipped"
            else
              echo "::notice:: Running in CI - deploying next client prod"
            fi
  deploy:
    name: Deploy Next Client - Production
    if: ${{!github.event.act}}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set short SHA
        run: echo "SHORT_SHA=${GITHUB_SHA:0:7}" >> $GITHUB_ENV

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY2 }}"

      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: tttc-light-js

      ####
      - name: Write .env file for Next Client
        run: |
          echo "${{ secrets.ENV_CLIENT_PRODUCTION }}" > next-client/.env

      - name: Build Docker image
        run: |
          docker build \
            --build-arg TURBO_TOKEN=${{ secrets.TURBO_TOKEN }} \
            --build-arg TURBO_TEAM=${{ secrets.TURBO_TEAM }} \
            -t gcr.io/tttc-light-js/t3c-next-client:${{ env.SHORT_SHA }} \
            -f next-client/Dockerfile .

      - name: Push Docker image
        run: |
          gcloud auth configure-docker --quiet
          docker push gcr.io/tttc-light-js/t3c-next-client:${{ env.SHORT_SHA }}

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy t3c-next-client \
            --image gcr.io/tttc-light-js/t3c-next-client:${{ env.SHORT_SHA }} \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated \
            --quiet

      - name: Remove .env file
        run: rm -f next-client/.env
