name: Deploy Express to Cloud Run

on:
  push:
    branches:
      - main
permissions:
  contents: read
jobs:
  pre-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: log execution mode
        run: |
          if [ "${{ github.event.act }}" = "true" ]; then
              echo "::notice:: Running locally with act - express server deploy skipped"
            else
              echo "::notice:: Running in CI - deploying express server"
            fi
  deploy:
    name: Deploy Express Server
    if: ${{!github.event.act}}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: "${{ secrets.GCP_SA_KEY2 }}"

      - name: Setup Google Cloud SDK
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: tttc-light-js

      ####

      - name: Build Docker image
        run: |
          docker build -t gcr.io/tttc-light-js/stage-t3c-express-server -f express-server/Dockerfile .

      - name: Push Docker image
        run: |
          gcloud auth configure-docker
          docker push gcr.io/tttc-light-js/stage-t3c-express-server

      - name: Deploy to Cloud Run
        run: |
          gcloud run deploy stage-t3c-express-server \
            --image gcr.io/tttc-light-js/stage-t3c-express-server \
            --platform managed \
            --region us-central1 \
            --allow-unauthenticated
